$star-color: #ddd;
$star-color-active: #ffd700;

.book-cover {
  width: 100%;
  height: auto;
}

.rating-stars {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  .star {
    color: $star-color;
    margin: 0 2px;
    line-height: 1.5;

    &.active {
      color: $star-color-active;
    }
  }

  p.author {
    margin: 0;
    margin-left: 4px;
  }
}
