fieldset.star-rating
  input#star-5(type="radio", name="rating", value="5")
  label.fas.fa-star(for="star-5")
  input#star-4(type="radio", name="rating", value="4")
  label.fas.fa-star(for="star-4")
  input#star-3(type="radio", name="rating", value="3")
  label.fas.fa-star(for="star-3")
  input#star-2(type="radio", name="rating", value="2")
  label.fas.fa-star(for="star-2")
  input#star-1(type="radio", name="rating", value="1")
  label.fas.fa-star(for="star-1")
